{% extends "grumblr/base.html" %}

{% block formcontent %}
{% if user.email %}
    <p>We've emailed you a password reset link to your binding email address <b>'{{ user.email }}'</b>, please check your email to process your password reset request.</p>

    <p>If you don't receive an email, please make sure that the email address is correct for your account.</p>
	<button class="btn btn-link" onclick="location.href='{% url 'reset_password' %}'">Resend the activation email</button>
{% elif user.is_authenticated %}
    <p>The account with username '{{ user.username }}' does not have an email address. Please go to edit the profile.'</p>
{% else %}
    {% if form %}

			<div class="divinside">
    		<div class="row">
    			<div class="col"></div>
    			<div class="login-form col-7">
					<h1>Reset Your Password</h1><br>
					<form method="post">


						{% for error in form.non_field_errors %}
							<p class="error">{{ error }}</p>
						{% endfor %}


					{% csrf_token %}
						<table class="logintable">
							{% if form %}
							{% for field in form %}
								<tr>
									<td class="label">{{ field.label_tag }}</td>
									<td class="field">{{ field }}</td>
									<td class="errortd">{{ field.errors.as_text }}</td>
								</tr>
							{% endfor %}
							{% endif %}
							<tr><td colspan="3">&nbsp;</td></tr>
							<tr><td colspan="3">&nbsp;</td></tr>
							<tr>
								<td colspan="2"><button type="submit" class="btn btn-primary btn-lg btn-block">
								Submit
								</button></td>
							</tr>

						</table>
					</form>
					<div>
					</div>
    			</div>
    			<div class="col"></div>
    		</div>

  			</div>

    {% endif %}
{% endif %}


{% endblock %}


{% block userinfo %}{% endblock %}

{% block errors %}{% endblock %}

{% block posts %}{% endblock %}

{% block pagination %}{% endblock %}